<% title("Project: #{@project.name}") %>

<h1><%= @project.name %></h1> <br />

<p style="color: #F5B045"><%= flash[:notice] %></p>

<%= render :partial => "note_list", :locals => {:notes => @project.notes}%>

<% if logged_in %>
	<%= render :partial => "new_note", :locals => {:note => Note.new(:project_id => @project.id)} %>

	<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>


<%= link_to 'Back', projects_path %>