<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Projects: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>
<div class="container">

<ul id="nav">
	<li><%= link_to "Home", :controller => :projects, :action => :index %></li>
	
	<% if session[:show_all] == true %>
		<li><%= link_to "Show Active", :controller => :projects, :action => :index, :params => {:show_all => false}%></li>	
	<% else %>
		<li><%= link_to "Show All", :controller => :projects, :action => :index, :params => {:show_all => true}%></li>
	<% end %>
	
	<li>
		<% if logged_in %>
			<form action="<%= session_url %>" method="post" accept-charset="utf-8" id="logout_form">
				<input type="hidden" name="_method" value="delete" id="_method">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
				<input type="submit" value="Logout &rarr;" id="logout_button">
			</form>
		<% else %>
			<%= link_to "login", new_session_url %>
		<% end %>
	</li>
</ul>

<br />

<%= yield %>

</div>

</body>
</html>
